body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(21, 13, 136);
    padding: 20px;
    margin: 60px auto;
    max-width: 600px;
    background-color: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
form div {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

form label {
    width: 120px; 
    font-weight: bold;
}

form input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}